{
  "extends": ["airbnb", "airbnb-typescript", "react-app", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-key": "error",
    "no-continue": "off",
    "react/require-default-props": "off"
  }
}
