.question-header {
  font-weight: bolder;
}

// Make sure the list doesn't grow too tall
.outer-scroll-list {
  display: flex;
  flex-direction: column;
}

.scroll-list {
  flex-grow: 1;
  padding-top: 10px;
  max-height: 50vh;
  overflow-y: auto;
}

// Handle text overflow in the questions
.question-item {
  overflow-wrap: break-word;
  hyphens: auto;
}

.candidate {
  padding-inline-start: 20px;
  margin-top: 6px;
}
